# ignore everything
*

# but descend into directories
!*/

# don't ignore .gitignore
!.gitignore
!README.md

# include the following
!/bat/**
!/brew/**
!/delta/**
!/eza/**
!/fzf/**
!/ghostty/**
!/hunk/**
!/lazygit/**
!/nvim/**
!/vicinae/**

# always ignore these
**/.DS_Store


